$color-primary: #409eff; // 主色调
$clolor-white: #fff;
$color-black: #000;
$color-success: #67c23a; // 成功色
$color-warning: #e6a23c; // 警告色
$color-danger: #f56c6c; // 危险色
$color-info: #909399; // 信息色
$color-text: #606266; // 文本颜色
$color-text-light: #909399; // 较浅的文本颜色

$font-size-base: 14px; // 基础字体大小
$font-size-lg: 16px; // 较大字体大小
$font-size-sm: 12px; // 较小字体大小

$border-radius-base: 4px; // 基础圆角
$border-color-base: #dcdfe6; // 基础边框颜色
$border-width-base: 1px; // 基础边框宽度

$padding-base: 10px; // 基础内边距
$margin-base: 10px; // 基础外边距
